<div align="center">
    <h1 class="heading" style="font-size:800% ;">TutorNow</h1>
    <br>
    <img src="/images/canopy.jpg" class="canopy">
    <br>
    <h1 style="font-size:300%;" align="middle">

        <br>
        <a href="/signup" class="growbox btn margbottom">Sign up</a>
        <br>
        <a href="/login" class="growbox btn margbottom">Login</a>
        <br>

        <STRONG>Our Mission:</STRONG>
    </h1>
    <br>
    <p>The mission of TutorNow is to create an environment of learning while fostering the creation of a community of youth givers.
        Allowing students to collaborate and share their strengths and develop their weaknesses.
    </p>

    <br>
    <p style="font-size:25">"Teaching peers is one of the best ways to master"

    <br> -Jeff Atwood</p>
    <br> 
   {{> footer}}
</div>



